h1 {
    margin: 30vh 0;
}

.hero {
    background-image: url("../assets/header-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 90vh;
    position: relative;
}

.main-nav {
    padding-top: 20px;

    li{
        list-style: none;
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        font-weight: 500;
        line-height: 2.9rem;
        letter-spacing: 0.02rem;
    }
}

.social {
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0px;
    padding: 40px 30px;

    i {
        color: #fff;
    }

    li {
        list-style: none;
        text-align: center;
        margin: 10px;
        a {
            padding: 10px;
        }
        
    }

    a:hover i,
    a:focus i{
        color: #000;
    }
}