@media (max-width: 1500px) {
    
    h2 { 
        font-size: 6rem;
        line-height: 4rem;
    }

    .left-margin,
    .right-margin {
        width: 45%;
    }

    .left-margin {
        padding-top: 60px;
        margin-left: 5%;
    }    

    .right-margin {
        padding-top: 80px;
        margin-right: 5%;
    }

    .content p {
        margin-bottom: 0;
    }

        
    

    input[type="email"] {
        width: 60%;
    }

    .wrapper {
        width: 90%;
    }
}

@media (max-width: 1250px) {

    .new-products {
        .product-image {
            width: 35%;
        }

        .prod-content {
            width: calc(65% - 40px);
            margin-left: 40px;
        }
    }

    .left-margin {
        padding-top: 50px;
        padding-right: 50px;
    }

    .right-margin {
        padding-left: 50px;
    }
}

@media (max-width: 1100px) {
    h1 {
        margin-top: 20vh;
    }

    p,
    footer a {
        font-size: 1.6rem;
    }
    
    .content h2 {
        padding-bottom: 20px;
    }

    .hero {
        height: 80vh;
    }

    .new-products {
    
        h2 {
            line-height: 4.5rem;
            margin-bottom: 1rem;
        }
    }

    footer {
        padding-top: 60px;

            nav {
                width: 15%;
            }
        }

    .email {
        width: 55%;
    }

    .contact {
        width: 30%;
    }

    .left-margin,
    .right-margin {
        width: 100%;
        margin: 0;
        padding: 80px;
    }

    .full-bleed-section {
        width: 100%;
        height: 600px;
        overflow: hidden;
    }

    .social {
        padding: 30px 20px;
    }

    
}

@media (max-width: 960px) {
    .new-products {
        .product-image {
            width: 30%;
            margin-top: 40px;
        }

        .prod-content {
            width: calc(70% - 40px);
            margin-left: 40px;
        }
    }

    footer nav,
    .email,
    .contact {
        a, p {
           font-size: 2rem; 
        }
        
        width: 100%;
        text-align: center;

        h3{
            text-align: center;
        }

        margin-bottom: 30px;
    }

    footer nav li {
        display: inline-block;
        width: 20%;
        margin-bottom: 40px;

    }


}

@media (max-width: 850px) {
    .new-products {
        .product-image,
        .prod-content {
            width: 100%;
            margin-left: 0;
        }

        .product-image {
        max-width: 316px;
        margin: 0 auto;
        padding-bottom: 40px;
        }  
    } 
}

@media (max-width: 750px) {
    .new-products {
        .product-image {
            float: none;
        }
    }

    .middle-nav {
        padding: 20px 0;
            li {
            width: 100%;
            padding: 20px;
            }
    }

    .exhibits {
        li {
            width: calc((100% - 44px) / 3);
        }

        li:nth-of-type(2) {
            margin: 0 20px;
        }
    }

    .full-bleed-section {
        height: 50%;
    }

    p.read-more {
        text-align: center;
    }

    .content {
        text-align: center;
    }

    input[type=email] {
        text-align: center;
        width: 80%;
        margin: 20px 0;
        clear: both;
    }

}

@media (max-width: 600px) {

    h1 {
        width: 60%;
        line-height: 7rem;
    }
    .wrapper {
        width: 90%;
    }

    .exhibits {
        padding: 80px 0;
    }
    .exhibits li {
        width: calc(100% / 2 - 11px);
    }

    .exhibits li:nth-of-type(2) {
        margin-right: 0;
    }

    .exhibits li:nth-of-type(3) {
        display: none;
    }

    footer .wrapper {
        padding: 10px 0;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 8rem;
        line-height: 4.2rem;
    }

    h2 {
        font-size: 5rem;
    }

    p {
        line-height: 2.4rem;
    }
    footer {
        padding-top: 40px;
    }
    footer nav a,
    footer nav p {
        font-size: 1.6rem;
    }

    .new-products {
        padding-top: 40px;
    }
    .prod-content {
        padding-top: 40px;
    }
    .product-image {
        height: 220px;
        overflow: hidden;
    }
    .main-nav ul{
        visibility: hidden;
    }

    .mobile-nav {
        display: block;
    }

    .social {
        display: none;
    }

    .exhibits {

        padding: 60px 0;
        h2 {
            padding-bottom: 50px;
        }
        li {
        width: calc(100% / 2 - 6px);
        }
        li:nth-of-type(2) {
        margin-left: 10px;
        }
    }

    .left-margin,
    .right-margin {
        padding: 10% 5%;
    }

    label {
        padding: 0;
        font-size: 1.4rem;
    }

    input[type=email] {
        margin-top: 0;
        width: 100%;
        font-size: 1.4rem;
    }

    footer nav {
        margin-bottom: 0;

            li {
                width: calc(25% - 2px);
            }
    }

    a.read-more,
    input[type=submit] {
        font-size: 3.5rem;
        padding: 0 15px;
    }

    .contact {
        a, p {
            font-size: 1.4rem;
            line-height: 2rem;
        }
    }

    .copyright p {
        font-size: 1.4rem;
    }
}
